.background-logo{
    /*  background-image: linear-gradient(
       rgba(0, 0, 255, 0.5),
       rgba(255, 255, 0, 0.5)
     ), url("../../media/examples/lizard.png");*/
    
     background-image: url("../images/hiddLogo.png");
     background-position: center;
     background-repeat: no-repeat;
    
 
 }
.show-tables{

    width: 88%;
}
.but-depository{
    background-color: #2D569C;
    color: #FFFFFF;
    text-align: center;
    font-family: "Cabin";
    width: 200px;
    height: 50px;
    border-color: white;
    color: #FFFFFF;
    border-width: 1px;
    margin-right: auto;
    
}
.trans-item{
    background-color: #2D569C;
    color: #FFFFFF;
    text-align: center;
    font-family: "Cabin";
    width: 200px;
    height: 50px;
    border-color: white;
    color: #FFFFFF;
    border-width: 1px;
}
.add-item{
    background-color: #2D569C;
    color: #FFFFFF;
    text-align: center;
    font-family: "Cabin";
    width: 200px;
    height: 50px;
    border-color: white;
    color: #FFFFFF;
    border-width: 1px;
}

.t-button{
    background-color: #2D569C;
    color: #FFFFFF;
    text-align: center;
    font-family: "Cabin";
    border-radius: 20px;
    width: 200px;
    height: 50px;
    border-color: unset;
    color: #FFFFFF;
    border-width: 1px;
    margin-top: 5%;
}
.rec-contain-s{
    height: 80%;
    width: 70%;
    border-radius: 25px;
    box-shadow: sienna;
    float: left;
    margin-left: 8pc;
    margin-top: 1pc;
  }
.add_button_ed{
    width: 150px;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
.MuiTab-textColorInherit {
    color: white;
    opacity: 0.7;
}
.colors{
color: white;

}
.colors:hover{
    color: white;
    text-decoration: none;

}
.add_inquary_button{
    background-color: #2D569C;
    width: 80px;
}