.accept-butt{
  background-color: #6CA0D0;
  color: #FFFFFF ;
  text-align: center;
  font-family: "Cabin";
  border-radius: 20px;
  width: 200px;
  height: 50px;
  border-color: unset;
  margin-top: 20px;
  color: #FFFFFF;
 
   margin-left: 120px;
   border-width: 1px;
}
.rejected-butt{
  background-color: #D75A4F;
  color: #FFFFFF ;
  text-align: center;
  font-family: "Cabin";
  border-radius: 20px;
  width: 200px;
  height: 50px;
  border-color: unset;
  margin-top: 20px;
  color: #FFFFFF;

   border-width: 1px;

}
.rec-butt{
  height: 15vh;
  width: 70%;
  background-color: white ;
  border-radius: 25px;
  box-shadow: sienna;
  float: left;
  margin-left: 8pc;
  margin-top: 1pc;
}
