.card{
    padding: 20px;
    width: 250px;
    justify-content: center;
    align-items: center;
    display: flex; 
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: initial;
    border: 1px solid rgba(7, 59, 230, 0.125);
    justify-content: center;
    align-items: center;
    margin: 15px;
    
    
}
.card-raduis{
    border-radius: 5rem;
}
.c-row{
    height: 60px;
    width: 70%;
     padding: 1px; 
    margin: 0%;
    display: flex; 
    flex-direction: row; 
    color: black;
    justify-content: center;
    align-items: center;
    padding-right: 30%;

}
.rows{
    width: 100%;
    padding: 1px;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
}


a.btn.btn-primary {
    padding: 2px;
    height: 35px;
    width: 70px;
    margin: 5px;
   
  
}
.btn.btn-primary {
    background-color:  #2D569C;
    border: none;
   
  
}
h5.card-title{
    text-align: center;
}
.background-logo{
   /*  background-image: linear-gradient(
      rgba(0, 0, 255, 0.5),
      rgba(255, 255, 0, 0.5)
    ), url("../../media/examples/lizard.png");*/
   
    background-image: url("../images/hiddLogo.png");
    background-position: center;
    background-repeat: no-repeat;
   

}