.la{
    font-weight: bold;
    margin-bottom: 5px;
    text-align: start;
    display: block;
   
   
    }
.ch{
  display: block;
}
    
 .dic{
  display: block;
  width: 600px;
  padding: 4px 10px;
  font-size: 15px;
  padding: auto;
  line-height: 1.4;
 color: black;
 background-color: white;
 background-image: none;
 border: 0.5px solid black;
 direction: ltr;
text-align: left;

 }

 
 .error{
   color: red;
 }
 

.button:hover {
  background-color:chartreuse;
  
  
  
  }
  .background-image {
  background-image: url(../images/charity.jpg);
  background-size: cover;
  min-height: 100%;
  height: 100vh;
  position: relative;
  width : 100vw;
  height: 100wh;
  display: flex;
 justify-content:space-around;
 background-size: cover;
 background-position: center;
}
.label-l{
  font-weight: bold;
  margin-bottom: 5px;
  text-align: start;
  display: block;
 
 
  }
.ch{
display: block;
}
  
.dic{
display: block;
width: 600px;
padding: 4px 10px;
font-size: 15px;
padding: auto;
line-height: 1.4;
color: black;
background-color: white;
background-image: none;
border: 0.5px solid black;
direction: ltr;
text-align: left;

}

.direction{
  direction: ltr;
  text-align: left;
}
.error{
 color: red;
}

button{
display: block;
width: 620px;
padding: 4px 10px;
font-size: 15px;
padding: auto;
line-height: 1.4;
color: black;
background-color :green;
background-image: none;
border: 1px solid rgb(250, 250, 250);
align-items:baseline;
cursor: pointer;

}
/*
.center {
display: flex;
justify-content: center;
margin: 5pc;
height: 23pc;
width: 50pc;
box-shadow: black;
background-color: white;
border-radius: 15px;



}
*/
.button:hover {
background-color:chartreuse;



}
/*
.background-image {
background-image: url(../images/charity.jpg);
background-size: cover;
min-height: 100%;
height: 100vh;
position: relative;
width : 100vw;
height: 100wh;
display: flex;
justify-content:space-around;
background-size: cover;
background-position: center;
}*/

.container {
max-width: 1140px;
}


.justify-content-center {
-webkit-box-pack: center !important;
-ms-flex-pack: center !important;
justify-content: center !important;
}
.login-wrap {
position: relative;
background: #fff;
border-radius: 10px;
-webkit-box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
-moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
box-shadow: 0px 10px 34px -15px blue;
}
.login-wrap h3 {
font-weight: 300;
}
.d-md-flex {
display: -webkit-box !important;
display: -ms-flexbox !important;
display: flex !important;
}
.checkbox-primary {
color: #1089ff;
}
.checkbox-wrap {
display: block;
position: relative;
padding-left: 30px;
margin-bottom: 12px;
cursor: pointer;
font-size: 16px;
font-weight: 500;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.text-md-right {
text-align: right !important;
}
.w-50 {
width: 50% !important;
}
.btn-b{
 background-color: #2D569C;
 border: #2D569C;
 color: white;
 display: inline-block;
  height: 50px;
  width: 250px;
  border: 1px solid white;
  border-radius: 10px;
}
.background-color-address{
  color: #2D569C;
  font-size: 30px;
  font-weight: bold;
 }