.container_rectangle{
    width: 100%;
    float: left;
    margin-right: 15pc;

}

.ReemButton{ 
    width: 130+px;
    padding-top: 40;  
    margin-top: .800rem;
    margin-left: .800rem;
    display: inline-block;
    font-family: "Cabin";
    font-weight: 500;
    color: #2d569c;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: #e9ecef;
    border: 1px solid #2d569c;
    padding: .375rem .75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .rowButtonReem{
    flex: 0 0 auto;
    color: #2d569c;
    padding: 12px;
    /* overflow: visible; */
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /* transition-property: background-color; */
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    border-radius: 50%;
  }
  .headReem{
    font-family: Cabin;
    font-size: 1.3rem;
    font-weight: 600;
    /* line-height: 1.5; */
    color: #2d569c;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%; 
  }
  .bodyReem{}
