.search{
    float: right;
    padding: 3px;
    border: none;
    margin-top: 5px;
    margin-right: 30px;
    font-size: 17px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    text-align: -webkit-auto;
}
.search-input:focus{
    border: 0px;
    outline: none;
   
  }
.search-input{
    background-color: white;
    border: none;
    border-color: none;
    width: 190px;
  
}

.button{
    float: right;
    padding: 6px;
    border: 2 black;
    border-radius: inherit;
    margin-top: 8px;
    margin-right: 5px;
    font-size: 17px;
    text-align: center;
    width: 100px;
    background-color: inherit;

    
}
 .button :hover{
    background-color: black;
}
.navItem{
    color: white;
    size: 1.3rem;
    font-family : "Cabin";
}
.navItem:hover{
color: white;
}
.navbar{
    background-color: #2D569C;
   /* display: flex;*/
  
    width: 100%;
}
.nav_v{
    position: fixed;
}
.title{
    text-align: center;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-family : "Cabin";
}
.icon_person{
    margin-left: 5px;
}