.stat-con{
    height: 100vh;
    width: 75%;
    float: right;
    margin-right: 12%;
    margin-top: 10px;
 
    
}
.card-child{
    height: 390px;
    width: 350px;
    border: 1px solid;
    margin-top: 8px;
    margin-right: 50px;
}
.card-all{
    width: 200px;
    border: 1px solid;
}
.card-a{
    width: 300px;
    height: 150px;
    border: 1px solid;
    margin-bottom: 80%;
}
.child-fam{
    text-align: right;
    padding-right: 5px;
    flex-direction: column !important;
}
.sec-row{
    width: 100%;
    padding: 1px;
    border-bottom: 1px solid rgb(247, 243, 243);
    margin: 0%;
    display: flex;
    flex-direction: row;
    /* color: wheat; */
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}
.stretch-card {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    margin-bottom: 25px;
    width: 200px;
    border: 1px solid;
}
.rows-t{
    width: 100%;
    padding: 1px;
    border-bottom: 1px solid rgb(247, 243, 243);
    margin: 0%;
    display: flex;
    flex-direction: row;
    /* color: wheat; */
    justify-content: center;
    align-items: center;
    padding-right: 6%;
}
.a2{
    width: 20%;
    height: auto;
}