.Sidebar{
      
        height: 100%;
        margin-top: 4.1%;
        width: 14%; 
        display: block;
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right:  0;
        background-color: #2D569C ; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        opacity: 100%;
        
      
 
}
.SidebarList{
  height: auto;
  width: 100%;
 padding: 0;
 

}
.row{
        
        height: 60px;
         width: 100%;
        padding: 1px;
        border-bottom: 1px solid rgb(247, 243, 243);
        margin: 0%;
        display: flex;
        flex-direction: row;
        color: wheat;
        justify-content: center;
        align-items: center;
}

.row #icon{
flex: 30%;
place-items: right;
}
.row #icon:hover{
  color: #C17A22;
}
        
.row:hover{
        cursor: pointer;
}
.row #title{
        flex: 70%;
        text-align: center;
        color: #FFFFFF;
        font-size: 0.9rem;
        font-family : "Cabin";
}
.background_im{
     height: 150px;
     width: 100%;
     top: 0; 
     background-image: url(../images/logo.jpg);
     background-color: #141010 ;
     background-position: center;
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover;      
}
               
.down{
        padding-bottom: 40px;
        bottom: 0; 
        position: fixed;
        
        height: 60px;
        width: 14%;
       padding: 1px;
       border-bottom: 1px solid rgb(247, 243, 243);
       flex-direction: row;
       color: wheat;
       justify-content: center;
       align-items: center;
       background-color: #C17A22;
       font-family: RH-Zak;
       font-size: 23px;
    
}
                
              