.role-cont{
    height: 80vh;
    width: 70%;
    float: left;
    margin-left: 8pc;
    margin-top: 1pc;
}
.add-butt{
    background-color: #6CA0D0;
    color: #FFFFFF ;
    text-align: center;
    font-family: "Cabin";
    border-radius: 20px;
    width: 200px;
    height: 50px;
    border-color: unset;
    color: #FFFFFF;
     border-width: 1px;
     margin-top: 5%;
  }
  .role-1{
      height: 30%;
      width: 100% ;
      border-width: 1px;
      box-shadow: 5px 10px 1px 1px  #6CA0D0;
      border-color: #6CA0D0;
      overflow-y: auto;
  }
  MuiSvgIcon-root:hover{
      cursor: pointer;
  }
  

.show-table-role {
    margin : 5px;
    
    width: 95%;
}
.sp-role{
color: #6CA0D0;
margin-bottom: 3%;
font-size: 25px;
}