thead{
    background-color: #60aef7;
    color: #FFFFFF;
    font-family : "Cabin";
    font-size: 15px;
    text-align: center;
    
    
  }
table{
  border-collapse: collapse;
  border-spacing: 0px;
  width: 80%;
  border : 1px ;
}

tr:nth-child(even){
  background-color: #bfeaff;
  font-family : "Cabin";
  color:  #0a0a0a;
}
tr:nth-child(odd){
  background-color: #d5f0ff;
  font-family : "Cabin";
  color:  #0a0a0a;

}
.showper{
  margin-top: 20px;
}
.rec-contain{
  height: 80vh;
  width: 70%;
  background-color: #e0f1fa ;
  border-radius: 25px;
  box-shadow: sienna;
  float: left;
  margin-left: 8pc;
  margin-top: 1pc;
}
.btn-group-vertical {
  float: right;
  height: 95vh;
  width: 20vw;
}
a.btn.btn-primary1 {
 
  height: 200p;
  width: 15vw;
  margin: 5px;
  background-color: #81baf8;
  color: white;
  padding-top: 30px;
  font-size: 15px;

}
.label-dis{
  font-weight: bold;
  padding-right: 8px;
  font-family : "Cabin";
  font-size: 18px;
}
.show-input{
  background-color: unset;
  border: hidden;
  border-color: unset;
  text-align: right;
  font-weight: bold;
  font-family : "Cabin";
  margin-right: 8px;
  height: 25px;
  color: black;
}
.ed-button{
 background-color: #81baf8;
 border: hidden;
 border-radius: 2px;
 margin-left: 5px;
 color: white;
 width: 120px;
 height: 50px;
 text-align: center;
}
.show-table{
  margin-right: 10pc;
    margin-top: 2pc;
    width: 70%;
}


.b-group{
background-color: rebeccapurple;
    width: 75%;
   margin-right: auto;
   width: 75%;
   margin-right: 15%;
   background-color: red;
   position: fixed;
}
.btn-sec{
  color: #fff;
  background-color: cadetblue;
  border-color: white;
  display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}
.MuiButtonBase-root.MuiChip-root.MuiChip-colorPrimary.MuiChip-clickableColorPrimary.MuiChip-outlined.MuiChip-outlinedPrimary.MuiChip-clickable {
  width: 25%;
}
.chip-div{
margin-right: 10%;
margin-top: 1px;

}