.App {
  width : 100vw;
  height: 100wh;
 
display: flex;
margin: 20px;
justify-content:space-around;
background-size: cover;
background-position: center;

}
body{
  margin: 0%;
  padding: 0%;
}
label{
  font-weight: bold;
  margin-bottom: 5px;
 
}

/***********************************************************/
.cc{
  justify-self: center;
}


.center-but{

  width: 400px;
  right: 30%;
   position: absolute;
   top: 45%;
   right: 35%;
   background-color : gray;
   color: black;
   font-weight: bold;
   font-size: 16px;
   padding: 16px 30px;
   cursor: pointer;
   text-align: center;
   border-radius: 20;
   display: block;
   
   
}

