.root_container-s{
    width: 85%;
    overflow-x: auto;
    float: left;
}
.container_rectangle{
    width: 100%;
    float: left;
    margin-right: 15pc;

}
.MuiTable-root {
    width: 90%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    float: left;
}