.label{
    font-weight: bold;
    margin-bottom: 5px;
    text-align: start;
    display: block;
    padding: 6.5px;
    width: 135px;
    padding-left: 10px;
   
 }
 .input{
    
    width: inherit;
    padding: 1px 5px;
    font-size: 15px;
    
    line-height: 1;
   color: black;
   background-color: white;
   background-image: none;
   border: 0.5px solid black;
   direction: rtl;
   text-align: right;
   margin-left: 10%;
  /*display: block;*/
  width: 65%;
  height: 38px;
/*  padding: .375rem .75rem;
 */ font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
 .r{
     padding: 6px;
 }
 .form-check-label {
    margin-bottom: 0;
    padding-right: 10px;
}
col{
    padding-right:10px;
}
.contain{
    position: fixed;
    width: 100%;
    height: 100vh;
}
.form-control {
    display: block;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}
.column {
    float: right;
    width: 50%;
  }
.border-left{
    border-left: 1px solid black;
    margin-left: -3px;
    margin-top: 30px;
    padding-right: 3px;
    
}
/*button{
    background-color: #007bff;
    width: 75%;
    border-radius: 3rem;
    
}*/
select {
    width: 65%;
    text-align: center;
    padding-right: 25%;
}
h6{
    text-align:center;
    padding-top : 20px;
    font-weight: bold;
    font-size: 150%;
    color:  #007bff;
}

.h6-h{
    text-align:center;
    padding-top : 150px;
    font-weight: bold;
    font-size: 150%;
    color:  #007bff;
}
.h6-h2{
    text-align:center;
    padding-top : 20px;
    font-weight: bold;
    font-size: 180%;
    color:  #007bff;
}
a {
   /* text-decoration: none;
    /*display: inline-block;*/
    padding: 8px 16px;
    color:  #007bff;
    padding-left: 15px;
  }
  
a:hover {
    color:  #007bff;
    color: black;
    
}
  
 
.next {
    background-color:#007bff;
    color: white;
    width: 200px;
    text-align: center;
    margin-left: 30px;
}
.TextField{
    width: inherit;
    padding: 1px 5px;
    margin-left: spacing(1);

}

.input-f{
  padding: 5px 10px;
  margin: 3px;
}
.container-c{
    margin: 30px;
    width: 1500px;
}
.box{
    margin: 5px;
    
}
.p-t{
    padding-top: 20px;
}
.mr{
  margin-right : 5px;
  margin-left : 5px;

}
textarea {
    width: 300px;
    height: 25px;
   
}

td{
    text-align: center;
    padding: 5px;
  }
th{
    background-color:#007bff;
    color: white;
    text-align: center;
    padding: 10px;
  }

a.btn.btn-n {
    background-color :#007bff;
    color: white;
}
.table-t{
    width: 80%;
    margin-bottom: 1rem;
    color: #212529;
    border-spacing: 2px;
    border-collapse: collapse;
    display: table;
}